NODE_ENV="production"

DATABASE_URL='postgresql://neondb_owner:asdfasdfasdfmode=require&channel_binding=require'

UPSTASH_REDIS_REST_URL="https://your.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your-token-asdfas0jpiuhewqnaskjdbxzmcoaidhf"
